/* Grid */
.h-fluid {
  width: 100%;
}
.h {
  width: auto;
  padding: 0 15px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  display: block;
}

.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}

.offset-md-1 {
  @media screen and (min-width: 768px) {
    margin-left: 8.33%;
  }
}

.offset-xl-2 {
  @media screen and (min-width: 1200px) {
    margin-left: 16.66%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .x-col-xs-1 {width: 10%;}
  .x-col-xs-2 {width: 20%;}
  .x-col-xs-3 {width: 30%;}
  .x-col-xs-4 {width: 40%;}
  .x-col-xs-5 {width: 50%;}
  .x-col-xs-6 {width: 60%;}
  .x-col-xs-7 {width: 70%;}
  .x-col-xs-8 {width: 80%;}
  .x-col-xs-9 {width: 90%;}
  .x-col-xs-10 {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {

  .h {
    margin: 0 auto;
    max-width: 580px;
  }

  [class*="col-"] {
    float: left;
    padding: 0 15px;
  }

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .h {
    max-width: 690px;
  }

  [class*="col-"] {
    float: left;
    padding: 0;
  }

  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .h {
    max-width: 960px;
  }

  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .h {
    max-width: 1170px;
  }

  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
}

/* font-family: "RalewayBold"; */
@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold/RalewayBold.eot");
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
  url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "RalewayRegular"; */
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
  url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'MyriadProBold';
  src: url('../fonts/MyriadProBold/MyriadProBold.eot');
  src: url('../fonts/MyriadProBold/MyriadProBold.eot') format('embedded-opentype'),
  url('../fonts/MyriadProBold/MyriadProBold.woff') format('woff'),
  url('../fonts/MyriadProBold/MyriadProBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/MyriadProRegular/MyriadProRegular.eot');
  src: url('../fonts/MyriadProRegular/MyriadProRegular.eot') format('embedded-opentype'),
  url('../fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'),
  url('../fonts/MyriadProRegular/MyriadProRegular.ttf') format('truetype');
}

/* font-family: "RalewayMedium"; */
@font-face {
  font-family: "RalewayMedium";
  src: url("../fonts/RalewayMedium/RalewayMedium.eot");
  src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
  url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$RalewayMedium: 'RalewayMedium';
$RalewayRegular: 'RalewayRegular';
$RalewayBold: 'RalewayBold';
$MyriadProRegular: 'MyriadProRegular';
$MyriadProBold: 'MyriadProBold';


body {
  margin: 0;
  padding: 0;
  outline: none;
  text-align: left;
  font-family: $RalewayRegular, 'Open Sans', sans-serif;
}

html, body {
  height: auto;
}

a img {
  border: none;
}

.button:hover {
  opacity: 0.8;
}

.img-box {
  img {
    width: 100%;
  }
}

.b1 {
  //height: 144px;
  background: url('../img/b1.jpg') center top/cover no-repeat;
  border-bottom: 4px solid #ffba00;

  .logo {
    font-family: $RalewayRegular;
    font-size: 20px;
    text-align: center;
    color: #ffba00;
    padding-top: 10px;

    @media screen and (min-width: 768px) {
      padding-top: 25px;
      font-size: 25px;
    }

    @media screen and (min-width: 769px) {
      font-size: 40px;
    }

    @media screen and (min-width: 560px) and (max-width: 769px) {
      font-size: 25px;
    }

    span {
      font-family: $RalewayBold;
      color: #fff;
    }
  }

  .info {
    padding-top: 5px;

    @media screen and (min-width: 768px) {
      padding-top: 25px;
    }

    .tel {
      margin-bottom: 10px;
      text-align: center;

      a {
        color: inherit;
      }

      .email {
        font-size: 18px;
        text-transform: inherit;
      }

      ul {
        padding: 0;
        margin-left: 0;
        margin-top: 0;
        list-style: none;
        text-align: center;
        color: #ffffff;
        font-family: $MyriadProRegular;

        @media screen and (min-width: 768px) {
          text-align: left;
        }

        li {
          font-size: 18px;
          line-height: 19px;
          text-transform: uppercase;
          margin-left: 0;
          margin-top: 5px;

          &:first-child {
            font-size: 17px;
          }

          @media screen and (min-width: 768px) {
            display: inline-block;
            width: 32.5%;
            margin-top: 0;
            float: none;
            vertical-align: middle;
            text-align: center;
            font-size: 24px;
          }

          p {
            margin: 0;
          }
        }
      }
    }

    .form {
      padding-left: 15px;
    }
    input {
      width: 225px;
      height: 35px;
      border: 2px solid #fff;
      background-color: transparent;
      border-radius: 35px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      font-family: $RalewayRegular;
      margin-left: 16px;
    }

    input[type=submit] {
      background: url("../img/button.png") center top no-repeat;
      width: 199px;
      height: 37px;
      border: none;
    }
    input[type=submit]:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  span {
    display: block;
  }
}

.b2 {
  background-color: #f9f9f9;
  padding-bottom: 30px;

  .bl {
    margin-top: 20px;
    background: url("../img/b-2-b.jpg") center bottom/290px no-repeat;
    padding-bottom: 25px;

    @media only screen and (orientation: landscape) {
      background: url("../img/b-2-b.jpg") center bottom/290px auto no-repeat;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      background: url("../img/b-2-b.jpg") center bottom/contain no-repeat;
    }

    @media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1199px) {
      background: url("../img/b-2-b.jpg") center bottom/290px auto no-repeat;
    }

    @media screen and (min-width: 1200px) {
      padding-bottom: 37px;
      background: url("../img/b-2-b.jpg") center bottom/auto auto no-repeat;
    }

    .item-header {
      font-family: $RalewayMedium;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      color: #626262;
      margin: 0 0 -40px;
      @media screen and (min-width: 768px) {
        font-size: 24px;
      }

    }

    &:first-child  .t {
      background: url('../img/b-2-1.jpg') center top/290px no-repeat;

      @media screen and (min-width: 768px) and (max-width: 991px) {
        background: url('../img/b-2-1.jpg') center top/contain no-repeat;
      }
      @media screen and (min-width: 1200px) {
        background: url('../img/b-2-1.jpg') center top/auto auto no-repeat;
      }
    }

    &:nth-child(2) .t {
      background: url('../img/b-2-2.jpg') center top/290px no-repeat;
      @media screen and (min-width: 768px) and (max-width: 991px) {
        background: url('../img/b-2-2.jpg') center top/contain no-repeat;
      }
      @media screen and (min-width: 1200px) {
        background: url('../img/b-2-2.jpg') center top/auto auto no-repeat;
      }
    }
    &:last-child .t {
      background: url('../img/b-2-3.jpg') center top/290px no-repeat;
      @media screen and (min-width: 768px) and (max-width: 991px) {
        background: url('../img/b-2-3.jpg') center top/contain no-repeat;
      }
      @media screen and (min-width: 1200px) {
        background: url('../img/b-2-3.jpg') center top/auto auto no-repeat;
      }
    }

    .t {
      height: 350px;

      @media screen and (min-width: 768px) and (max-width: 991px) {
        height: 278px;
      }

      @media screen and (min-width: 1200px) {
        height: 410px;
      }
    }

    .in {
      background: url("../img/b-2-c.jpg") center top/290px repeat-y;
      text-align: center;

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        background: url("../img/b-2-c.jpg") center bottom/contain repeat-y;
      }

      @media only screen and (orientation: landscape) and (max-width: 568px) {
        background: url("../img/b-2-c.jpg") center top/290px auto repeat-y;
        text-align: center;
      }

      @media screen and (min-width: 1200px) {
        background: url("../img/b-2-c.jpg") center bottom/auto auto repeat-y;
      }

      @media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1199px) {
        background: url("../img/b-2-c.jpg") center bottom/290px auto repeat-y;
      }

      p {
        font-size: 18px;
        font-family: $RalewayMedium;
        color: #626262;
        text-align: center;
        margin: 0;

        @media screen and (min-width: 992px){
          font-size: 24px;
        }
      }

      form {
        display: none;
      }

      input, a {
        width: 267px;
        height: 53px;
        border: 1px solid #d4d4d4;
        border-radius: 53px;
        text-align: center;
        font-size: 16px;
        color: #adadad;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        display: inline-block;
        margin: 10px auto;
      }

      input[type=submit], a {
        background: url("../img/button_1.png") center top/contain no-repeat;
        width: 268px;
        height: 56px;
        font-family: $RalewayBold;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-size: 28px;
        font-style: normal;
      }

      a {
        font-size: 20px;
        height: 36px;
        width: 80%;

        @media screen and (min-width: 1200px) {
          font-size: 28px;
          height: 56px;
        }
      }

      input[type=submit]:hover, a:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      .zakaz {
        text-decoration: none;
        padding-top: 10px;
      }
    }
  }
}

.b3 {
  background: url("../img/b3.jpg") center top no-repeat;

  .f {
    text-align: center;
    font-family: $RalewayBold;
    font-size: 22px;
    color: #626262;
    padding-top: 3%;

    @media screen and (min-width: 768px) and (max-width: 991px) {
      float: right;
      font-size: 26px;
    }

    @media screen and (min-width: 992px) {
      margin-right: 20%;
      float: right;
    }

    @media only screen and (orientation: landscape) {
      float: right;
    }
  }

  .sl {
    background: url("../img/sl.png") center top/contain no-repeat;
    color: #ffffff;
    margin: 0 auto;
    padding: 12px;
  }

  .f-2 {
    text-align: center;
    font-family: $RalewayBold;
    font-size: 22px;
    color: #626262;
    padding-top: 260px;

    @media screen and (min-width: 768px) and (max-width: 991px) {
      float: left;
      font-size: 26px;
      clear: both;
    }

    @media screen and (min-width: 992px) {
      float: left;
      margin-left: 20%;
      clear: both;
    }

    @media only screen and (orientation: landscape) {
      float: left;
      clear: both;
    }
  }
}
.b4 {
    padding-top: 30px;
    h1 {
      font-family: $RalewayBold;
      font-size: 26px;
      color: #626262;
      text-align: center;
      margin: 25px auto 50px;
      @media screen and (min-width: 992px) {
        margin-top: 0;
      }
      span {
        color: #f3ad11;
      }
    }

    ul {
      list-style: none;
      padding: 0 0 0 25px;
      li {
        padding-left: 40px;
        background: url("../img/li.png") left top no-repeat;
        font-family: $RalewayRegular;
        color: #626262;
        font-size: 18px;
        margin-bottom: 25px;
        line-height: 1;

        span {
          font-family: $RalewayBold;
        }
      }
    }

    p {
      font-family: $RalewayRegular;
      color: #f3ad11;
      font-size: 14px;
      margin-top: 40px;
      padding: 0 0 0 25px;
    }
}

.b5 {
  padding-top: 5%;

  h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    font-family: $RalewayBold;
    color: #626262;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 0;

    @media screen  and (min-width: 768px) {
      text-align: left;
    }

    li {
      font-family: $RalewayRegular;
      color: #626262;
      font-size: 18px;
      margin-bottom: 15px;

      @media screen  and (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 15%;
      }

      @media screen  and (min-width: 992px) and (max-width: 1199px) {
        margin-bottom: 15.3%;

        &:first-child {
          margin-top: 15px;
        }

      }

      @media screen  and (min-width: 1200px) {
        margin-bottom: 16%;

        &:first-child {
          margin-top: 25px;
        }

      }
    }
  }
}

.b6 {
  background: url("../img/b6.jpg") center top/cover no-repeat;
  padding: 3% 0;
  h1 {
    text-align: center;
    font-size: 24px;
    font-family: $RalewayBold;
    color: #fff;


    span {
      display: inline-block;
      position: relative;
      padding: 0 0 15px;
      margin: 0 auto;

      &:before {
        content: '';
        width: 80%;
        height: 1px;
        background: #e5e5e5;
        display: block;
        position: absolute;
        bottom: -1px;
        left: 10%;
      }

      &:after {
        content: '';
        width: 50%;
        height: 5px;
        background: #fff;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 25%;
      }
    }
  }

  .usage-list {
    list-style: none;
    padding-left: 0;

    img {
      display: block;
      margin: 0 auto 15px;

    }
  }

  .bl {
    text-align: center;
    font-family: $RalewayRegular;
    color: #fff;
    font-size: 14px;
    margin: 15px 0 25px;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.b7 {
  background: #F9F9F9;
  padding: 3% 0;
  h1 {
    font-size: 20px;
    font-family: $RalewayBold;
    color: #626262;
    text-align: center;

    span {
      display: inline-block;
    }

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  p {
    font-family: $RalewayRegular;
    color: #626262;
    font-size: 14px;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  .border-box {
    position: relative;
    margin: 0 auto 5px;
    padding: 30px;
    background: #fff;
    width: 80%;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #e5e5e5;
      border-bottom: 4px solid #ffaf00;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      bottom: 15px;
      right: 15px;
      left: 15px;
      border: 1px #e5e5e5 dashed;
    }
  }

  .c {
    text-align: center;
    font-family: $RalewayBold;
  }
}

.b8 {

  h1 {
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
    font-family: $RalewayBold;
    color: #626262;

    span {
      display: inline-block;
    }

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  .bl {

    h2 {
      color: #f3ad11;
      font-family: $RalewayBold;
      font-size: 20px;

      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
    }

    p {
      font-family: $RalewayRegular;
      color: #626262;
      font-size: 18px;

      span {
        font-family: $RalewayBold;
      }
    }
  }
}

.b9 {
  background: url("../img/b9.jpg") center top/cover no-repeat;
  padding: 3% 0;
  h1 {
    text-align: center;
    font-size: 37px;
    font-family: $RalewayBold;
    color: #fff;
  }

  input {
    width: 287px;
    height: 44px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 35px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: $RalewayRegular;
    margin-left: 16px;
  }

  input[type=submit] {
    background: url("../img/button_2.png") center top no-repeat;
    width: 255px;
    height: 47px;
    border: none;
    font-family: $RalewayBold;
    font-size: 22px;
    color: #030101;
  }
  input[type=submit]:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.b10 {
  .fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
    margin: 0 auto;
    display: block;
  }
}

.b11 {
  background: url("../img/b11.jpg") left top/cover repeat-y;
  height: auto;
  text-align: center;

  .logo {
    font-family: $RalewayRegular;
    font-size: 40px;
    color: #343434;
    padding-top: 25px;

    span {
      font-family: $RalewayBold;
      color: #fff;
    }
  }

  .reg {
    font-family: $RalewayRegular;
    color: #fff;
    font-size: 22px;
    padding-top: 60px;
  }

  .tel {
    font-family: $MyriadProRegular;
    color: #fff;
    font-size: 24px;
    padding: 20px 0 0;
    list-style: none;

    p {
      margin: 5px;
    }
  }
}

#overlay {
  z-index: 49;
  position: fixed;
  background-color: #d8dcdd;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
  z-index: 998;
}

#modal_form_03 {
  width: 280px;
  height: 70px;
  position: fixed;
  top: 100%;
  left: 100%;
  margin-top: -130px;
  margin-left: -445px;
  display: none;
  opacity: 0;
  z-index: 999;
  padding: 10px 10px;
  background: #F8F9F9;
  text-align: center;
  font-size: 16px;
  color: #616161;
  border: 1px solid #E9EBEC;

  opacity:1;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
}

.modal_form_04 {
  display: none;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding-top: 20px;

  .h {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    padding-bottom: 0;

    .logo_img {
      width: 50%;
      float: left;
      position: relative;
    }

    .main-form {
      width: 50%;
      float: left;
      position: relative;
      z-index: 99;
      text-align: center;

      input[type=text] {
        width: 257px;
        height: 44px;
        border: 1px solid #a5a5a5;
        background-color: transparent;
        border-radius: 35px;
        text-align: center;
        font-size: 16px;
        color: #333;
        font-family: "RalewayRegular";
        margin-bottom: 20px;
      }
      input[type=submit] {
        background: url(../img/button_2.png) center top no-repeat;
        width: 255px;
        height: 47px;
        border: none;
        font-family: "RalewayBold";
        font-size: 18px;
        color: #030101;
      }
      input[type=submit]:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
.ouibounce-open .modal_form_04 { display: block; }

.section-header {
  position: relative;
  padding: 0 0 15px;
  margin: 0 auto;

  &:before {
    content: '';
    width: 80%;
    height: 1px;
    background: #e5e5e5;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 10%;
  }

  &:after {
    content: '';
    width: 50%;
    height: 5px;
    background: #ffaf00;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 25%;
  }
}